<div class="delivery-returns product">
  <li>Free Standard Delivery from $75</li>

  <li>Free Express Delivery from $150</li>

  <li>Free Returns on all orders</li>
</div>

<style>
.delivery-returns.product li {
    list-style: circle;
}
</style>