<div class="product-technology-benefits">
  {% if product.tags contains 'SEAMLESS TECH DNA' %}
  <span class="product-tech-spex"><strong>Seamless Tech DNA™</strong> No seams. No stitches. Made to reduce abrasion, shape, contour, and move with your body our SEAMLESS TECH DNA™ delivers unmatched comfort and performance.</span>
  {% endif %}
  {% if product.tags contains 'COTTON LUXE DNA' %}
  <span class="product-tech-spex"><strong>Cotton Luxe DNA™</strong> TLF’s exclusive and premium engineered stretch cotton fabric is the new gold standard for cotton. It’s cool to the skin, breathable, wicks away sweat, and contains anti-microbial properties. This revolutionary fabric technology is ultra-soft and provides the ideal bounce back for each wear for next level comfort.</span>
  {% endif %}
  {% if product.tags contains 'BAMBOO TECH DNA' %}
  <span class="product-tech-spex"><strong>Bamboo Tech DNA™</strong> TLF’s game changing Bamboo fabric is ultra-soft and lightweight with the ideal fit and drape to enhance your shape. 4-way stretch, superior breathability, and moisture-wicking properties add next level performance for unmatched comfort in the gym and out - 24/7.</span>
  {% endif %}
  {% if product.tags contains 'AIR2O BARRIER DNA' %}
  <span class="product-tech-spex"><strong>Air20 Barrier DNA™</strong> Comprised of lightweight nylon fabric, AIR2O BARRIER DNA™ is designed to repel wind, rain, and snow away from your skin providing a layer of protection from the elements to keep you dry and performing at optimal levels.</span>
  {% endif %}
  {% if product.tags contains 'AIR-FLEX DNA' %}
  <span class="product-tech-spex"><strong>Air-Flex DNA™</strong> Technology is our premium engineered ultra-soft and lightweight semi-synthetic beech tree pulp (aka modal) fabric that provides the ideal fit and drape to enhance your shape. 4-way stretch, superior breathability, and moisture-wicking properties add next level performance for unmatched comfort for the perfect GYM-TO-STREET™ performance and style.</span>
  {% endif %}
  {% if product.tags contains 'PERFORMANCE-TASLON' %}
  <span class="product-tech-spex"><strong>TLF Taslon Performance<sup>TM</sup></strong> fabric ( ultra-soft, lightweight, breathable, non-abrasive)</span>
  {% endif %}
  {% if product.tags contains 'PERFORMANCE TERRY' %}
  <span class="product-tech-spex"><strong>Performance Terry DNA™</strong> Our flagship innovation, brushed, peached, and soft to the touch Cotton French Terry fabric made our mark on the performance world and has become our next level standard of excellence.</span>
  {% endif %}
  {% if product.tags contains 'INFI-SOFT DNA' %} 
  <span class="product-tech-spex"><strong>Infi-Soft DNA<sup>TM</sup></strong> Technology produces superior hand and body "feel" providing unmatched comfort</span>
  {% endif %}
  {% if product.tags contains 'INFI-STRETCH DNA' %} 
  <span class="product-tech-spex"><strong>Infi-Stretch DNA<sup>TM</sup></strong> Technology provides superior 4-way stretch and bounce-back properties helping keep that original shape and fit every time you put it on.</span>
  {% endif %}
  {% if product.tags contains 'INFI-DRY DNA' %}
  <span class="product-tech-spex"><strong>Infi-Dry DNA<sup>TM</sup></strong> Technology provides moisture wicking properties helping to keep you dry and cool</span>
  {% endif %}
  {% if product.tags contains 'INFI-DEFENSE DNA' %}
  <span class="product-tech-spex"><strong>Infi-Defense DNA<sup>TM</sup></strong> Technology helps create an anti-microbial layer of protection from odor causing bacteria</span>
  {% endif %}  
   {% if product.tags contains 'ELEMENT BARRIER DNA' %}
  <span class="product-tech-spex"><strong>Element Barrier DNA<sup>TM</sup></strong> Technology Designed to keep your body dry and cool from the elements (rain, wind, and snow)</span>
  {% endif %}
   {% if product.tags contains 'ELEMENT TECH DNA' %}
  <span class="product-tech-spex"><strong>Element Tech DNA<sup>TM</sup></strong> TLF’s breakthrough ultra-light and breathable fabric provides the ideal amount of 2-way stretch for optimal training mobility while keeping you cool and dry.</span>
  {% endif %}
  {% if product.tags contains 'CTF' %}
  <span class="product-tech-spex"><strong>CTF™ (CAMEL TOE FREE) TECH DNA<sup>TM</sup></strong> Is a revolutionary multi-design approach to forever eliminate that uncomfortable and annoying wardrobe malfunction. Designed to provide CTF™ comfort with no front seam, an innovative double layer fabric gusset with an extended inner thigh design, that provides an ultra-comfy front wedge free fit. “Just Say No, To The Toe” and slay your workouts in confidence.</span>
  {% endif %}
  {% if product.tags contains 'LUXE-DNA' %}
  <span class="product-tech-spex"><strong>Luxe-DNA<sup>TM</sup></strong> Technology is comprised of ultra-soft, lightweight, superior breathability, and moisture-wicking properties, LUXE-DNA™ is designed to help lift, shape, and mold to your body like a second skin, delivering the perfect body and booty shaping fit that offers live-in comfort in the gym and out - 24/7.</span>
  {% endif %}
  {% if product.tags contains 'RIBBED-TECH DNA' %}
  <span class="product-tech-spex"><strong>Ribbed-Tech DNA<sup>TM</sup></strong> takes ribbed performance and style to a new level. Perfect body-hugging compression, supportive yet stretchy for ideal mobility. Precisely engineered ribbing for just the right amount of detail, bounce-back recovery, and sculpting.</span>
  {% endif %}
  {% if product.tags contains 'LUXE-MAX DNA' %}
  <span class="product-tech-spex"><strong>Luxe-Max DNA<sup>TM</sup></strong> Technology is engineered for MAX-out training days utilizing light compression. Providing maximum durability for sumo-deadlifts, hip thrusts, and squats, standing up to the heavy wear and tear. While delivering ultra-soft, moisture-wicking breathability for the perfect body-sculpting fit.</span>
  {% endif %}
  {% if product.tags contains 'SQUAT PROOF CERTIFIED' %}
  <span class="product-tech-spex"><strong>TLF Squat Proof Tested and Certified</strong> allows you to train in confidence knowing you are covered in our zero-transparency fabric technology and supported where it counts. Get in the zone and ready to perform your best squats, lunges, and deadlifts.</span>
  {% endif %}
  {% if product.tags contains 'TRAIN TECH DNA' %}
  <span class="product-tech-spex"><strong>Train Tech DNA™</strong> Sculpts, lifts, shapes, and supports delivering sweat-wicking breathability for those intense training sessions and maximum comfort for all day wear.</span>
  {% endif %}
  </div>