<a href="#" class="sppy-modalButton" data-popup="popupEleven">Learn more</a>

<section class="sppy-modal sppy-modalWindow" id="popupEleven">
  <section class="sppy-modalWrapper">
    <img src="https://cdn.shopify.com/s/files/1/2665/0346/files/shoppay2.svg?v=1628007926">
    <p style="font-size: 11px;line-height: 21px;">Subject to eligibity check and approval. Estimated payment amount excludes taxs and shipping fees.</p>

  </section>
  <a class="sppy-closeBtn">X</a>
</section>
<section class="sppy-modal sppy-overlay"></section>

<style>
a.sppy-modalButton {
    text-decoration: underline;
}
section.sppy-modalWindow section.sppy-modalWrapper img {
  margin-bottom: 40px;
}
section.sppy-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}
section.sppy-modalWindow {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 999 !important;
  width: 600px;
  min-height: 540px;
  margin-left: -300px;
  background: #fff;
  cursor: default;
}
section.sppy-modal.sppy-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(52, 52, 52, 0.5);
  z-index: 997;
  cursor: pointer;
}

section.sppy-modalWrapper p {
  font-family: "Montserrat";
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
}
  
  section.sppy-modalWrapper p a {
    text-decoration: underline;
}

section.sppy-modalWindow section.sppy-modalWrapper {
  margin: 30px;
  padding: 40px;
  text-align: center;
  line-height: 20px;
  height: 585px;
}
.sppy-closeBtn {
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 22px;
  color: #000000;
  font-family: 'Montserrat';
  font-weight: 300;
}
  
  @media only screen and (max-width: 600px) {
    section.sppy-modalWindow section.sppy-modalWrapper {
    margin: 30px;
    padding: 15px;
    text-align: left;
    line-height: 20px;
    height: 385px;
}
  section.sppy-modalWindow {
    width: 365px;
    min-height: 345px;
    margin-left: -183px;
}
    section.sppy-modalWrapper p {
    font-size: 8px;
    line-height: 12px;
}
  }
</style>

<script>
  settings = {
  //Model Popup
  objModalPopupBtn: ".sppy-modalButton",
  objModalCloseBtn: ".sppy-overlay, .sppy-closeBtn",
  objModalDataAttr: "data-popup"
};
$(settings.objModalPopupBtn).bind("click", function () {
  if ($(this).attr(settings.objModalDataAttr)) {
    var strDataPopupName = $(this).attr(settings.objModalDataAttr);

    //Fade In Modal Pop Up
    $(".sppy-overlay, #" + strDataPopupName).fadeIn();
  }
});

//On clicking the modal background
$(settings.objModalCloseBtn).bind("click", function () {
  $(".sppy-modal").fadeOut();
});
</script>