span.dmenu_text {
    display: inline-block!important;
    font-size: large;
}
.dmenu_indicator_icon svg {
    position: relative!important;
    top: 0!important;
    left: 0!important;
    margin: 0!important;
    width: 18px!important;
    height: 18px!important;
}

.dmenu_menu--active>.dmenu_submenu {
    position: relative!important;
    display: block;
    height: auto;
    visibility: visible;
    background-color: #fff;
    color: gray;
}
span.dmenu_indicator_icon {
    color: black;
}
li.dmenu_block.dmenu_col.dmenu_block--menu.dmenu_menu.dmenu_menu--level-1.dmenu_menu--has-children {
    transform: rotate(0deg)!important;

}

span.dmenu_indicator_icon, li.dmenu_block.dmenu_col.dmenu_block--menu.dmenu_menu.dmenu_menu--level-1.dmenu_menu--has-children {
    color: #000;
    transform: rotate(270deg);
}
li.dmenu_block.dmenu_col.dmenu_block--menu.dmenu_menu.dmenu_menu--level-1.dmenu_menu--has-children {
    color: black;
}


li.dmenu_section.dmenu_section--watermark {
    visibility: hidden;
}
a.menu-drawer__account.link.focus-inset.h5 {
    display: none;
}
.dmenu_menu--active>.dmenu_submenu {
    position: relative!important;
    display: block;
    height: auto;
    visibility: visible;
    background-color: white;
}
.dmenu_menu--level-0.dmenu_menu--has-children.dmenu_menu--active {
    margin-bottom: 3px!important;
    background-color: white;
}

img#colX {
    width: 15px;
}

img#col3 {
  display:none;
}
a.menu-drawer__menu-item.link.link--text.list-menu__item.focus-inset {
    color: gray;
}


div#menu-drawer {
    height: 753px;
}

img.flecha {
    transform: rotate(272deg);
}
img#colFix2 {
    transform: rotate(272deg);
}
img#colFix {
    transform: rotate(272deg);
}
img#col9 {
    width: 15px;
    margin-left: 220px;
}















nav.menu-drawer__navigation {
    height: 190px;
}
summary.menu-drawer__menu-item.list-menu__item.link.link--text.focus-inset {
    height: 71px;
    margin: 0px;
    border-bottom: 1px solid rgb(214, 217, 220);
}


div#menu-drawer {
    left: 38px!important;
}
.new-close-wrapper .icon-close {
    margin-left: 19em!important;
    margin: 21px;
    width: 20px;
    stroke: black;
}



.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: 100vh;
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
  top: 100%;
  right: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  right: 0;
  top: 100%;
  width: calc(100vw - 4rem);
  padding: 0;
  border-width: 0 var(--drawer-border-width) 0 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset)
    var(--drawer-shadow-vertical-offset)
    var(--drawer-shadow-blur-radius)
    rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  height: 100%;
}

.menu-drawer__navigation {
  padding: 5.6rem 0;
}

.menu-drawer__inner-submenu {
  height: 100%;
  
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 1.1rem 3.2rem;
  text-decoration: none;
  font-size: 1.8rem;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  background-color: rgb(var(--color-background));
  border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  height:100vh;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
  padding: 2rem;
  background-color: rgba(var(--color-foreground), 0.03);
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem;
  margin-left: -1.2rem;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
  margin-top: 2rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}

.dmenu_menu--level-0.dmenu_menu--active span.dmenu_indicator {
    transform: rotate(180deg);
}